@use './variables' as v;

.container {
    width: 100%;
    max-width: 1400px;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.dFlex {
  display: flex;
}

.flexColunm {
  flex-direction: column;
}

.justifyCenter {
  justify-content: center;
}

.alignCenter {
  align-items: center;
}

.objetFitCover {
  object-fit: cover;
}

.textjustify {
  text-align: justify;
}

.textCenter {
  text-align: center;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: v.$color-f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: v.$color-018e5e; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: v.$color-018e5e; 
  }